body{
    background-color:rgb(225, 211, 214) ;
    font-family: "Google Sans Flex", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
   flex:1;
}
 .navbar{
    height:5rem;
   background-color: white;
 }
 .fa-location-arrow{
    color: #fe424d;
    font-size: 2rem;
    rotate: 10deg;
    margin-left: 4rem;
 }
 .nav-link{
    color:#222222 !important;
    
 }



       /* footer */

       .f-info{
         height:150px;
         background-color: #6eb1f0a1;
         text-align: center;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: space-evenly;
       }
       .f-info-socials ,
       .f-info-links
         {
         width:100%;
         align-items: center;
           display: flex;
           justify-content: center;
           
       }
      
       .f-info-brands{
         color:rgb(3, 3, 74);
        padding-top: 12px;
       }
       .f-info-socials i{
         font-size:1.3rem ; 
         margin-right: 1rem;
         margin-top: 1rem;
         color:rgba(52, 62, 111, 0.666)
       }
       
      .f-info-links a{
         text-decoration: none;
         
      }
      
      .f-info-links a:hover{
         text-decoration: underline;
      }


      /* cards */
      .listing-card{
         border: none !important;
         margin-bottom: 2rem;
      }
      .card-img-top{
         border-radius:1rem !important ;
         width: 100% !important;
         object-fit: cover !important;
      }
      .card-body{
         padding: 0 !important;
      }
      .card-text {
         color: #222222;
         
      }
      .listing-link{
         text-decoration: none;
      }

      /* card-effect */
      .card-img-overlay{
         opacity: 0;
      }
      .card-img-overlay:hover{
         opacity: 0.2;
         background-color: antiquewhite;
      }

      /* new */
      .add-btn{
         background-color:#fe424d !important;
         border:none !important;
      }
      /* edit */
      .edit-btn{
         background-color:#4fb8ff !important;
         border:none !important;
      }
      /* show page */
      .show-img{
         height: 30vh;
      }
      .btns{
         display: flex;
      }
      .show-card{
         padding-left: 0;
         padding-right: 0;
      }

      /* Map */
      #map {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}